body{
  overflow: hidden; 
  max-height: 1200px; 
}

body {
  box-sizing: border-box; 
  height: 100vh; 
  background-color: #fff;
}

.cursor {
  position: absolute;
  width: 5vw;
  height: 5vw;
  background: 	#f9e0e0;
  border-radius: 50%;
  top: var(--y, 0);
  left: var(--x, 0);
  transform: translate(-50%, -50%);
  z-index: 2;
  mix-blend-mode: difference;
  pointer-events: none;
}

details >summary{
  list-style: none;
}

details[open] summary{
  background-color: black;
  color: white;
}

h1, h2, h3{
  font-family: sans-serif; 
}

.links > a > img{
  width: 3vw; 
}

.cursor-wrapper{
  mix-blend-mode: difference;
}

.marquee {
  position: relative;
  width: 75vw;
  max-width: 100%;
  overflow-x: hidden;
  font-size: 2vw;
}

.track {
  position: absolute;
  white-space: nowrap;
  will-change: transform;
  animation: marquee 35s linear infinite;
}

@keyframes marquee {
  from { transform: translateX(0); }
  to { transform: translateX(-50%); }
}

@media screen and (max-width: 576px){
  body{
    overflow-y: scroll; 

  }

  .marquee{
    position: absolute;
    display:none;
  }

  .links > a > img{
    width: 2em; 
  }

  .cursor{
    display: none; 
  }


}

@tailwind base;
@tailwind components;
@tailwind utilities;

