html{
  display: flex;
  justify-content: center;
  align-items: center;
}
body {
  box-sizing: border-box; 
  max-width: 1440px; 
  background-color: #fff;

}

.cursor {
  position: absolute;
  width: 5vw;
  height: 5vw;
  background:  var(--colorbg, #f8b8f1); 
  border-radius: 50%;
  top: var(--y, 0);
  left: var(--x, 0);
  transform: translate(-50%, -50%);
  z-index: 100;
  mix-blend-mode: difference;
  pointer-events: none;
}

.circle-decor{
  border-radius: 50%;
  background-color: white;
  width: 1em;
  height: 1em;
  border: solid 2px black;
}

.project-btn{
  border: solid 2px black; 
  margin-top: 2px; 
  padding: 2px; 
  color: white;
  background-color: black;
}

.project-btn:hover{
  border: solid 2px black; 
  color: black;
  background-color: white;
}

.colorpicker{
  margin-top: 0.25em;
  width: 2em;
  height: 2em;
  border-radius: 50px; 
}

h1, h2, h3{
  font-family: sans-serif; 
}

.links > a > img{
  width: calc(3vw + 1em); 
}

.cursor-wrapper{
  mix-blend-mode: difference;
}

.marquee {
  position: relative;
  width: 75vw;
  max-width: 100%;
  overflow-x: hidden;
  font-size: calc(1vw + 1em);
}

.track {
  position: absolute;
  white-space: nowrap;
  will-change: transform;
  animation: marquee 35s linear infinite;
}

@keyframes marquee {
  from { transform: translateX(0); }
  to { transform: translateX(-50%); }
}

@media screen and (max-width: 750px){
  body{
    overflow-y: scroll; 

  }

  .marquee{
    position: absolute;
    display:none;
  }

  .links > a > img{
    width: 2em; 
  }

  .cursor{
    display: none; 
  }

  .colorpicker-btns{
    display:none; 
  }
}

@media screen and (min-width: 1800px){
  .links > a > img{
    width: calc(6vw + 2em); 
  }
}

@media screen and (min-width: 2400px){
  .links > a > img{
    width: calc(12vw + 2em); 
  }
}

@tailwind base;
@tailwind components;
@tailwind utilities;


